In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
import time
import requests
import json
import urllib
import sklearn
brand_df=pd.read_csv("search.csv")

In [3]:
brand_df.head(5)

                 trend  january  february  march  april  may  june  july  august  september  october  november  december  Unnamed: 13 new_tags_taxonomy                            shopstyle_taxonomy
0  duchesse satin gown        0         0      0      0    0     0     0       0          0        0         0       NaN          NaN               NaN  women.womens_clothes.dresses.evening_dresses
1           saksutopia        0         0      0      0    0     0     0       0          0        0         0       NaN          NaN               NaN                                           NaN
2           oscars2016        0         0      0      0    0     0     0       0          0        0         0       NaN          NaN               NaN                                           NaN
3      studded apparel       10        10     10     10    0    10    10      10         10       10         0       NaN          NaN               NaN                          women.womens_clothes
4         pompon charm        0         0      0      0    0     0     0       0          0        0         0       NaN          NaN               NaN                                         women

In [5]:
filtered_df = brand_df[(brand_df.january > 0) & (brand_df.february > 0) & (brand_df.june > 0)]

In [6]:
filtered_df.head(5)

                  trend  january  february  march  april  may  june  july  august  september  october  november  december  Unnamed: 13             new_tags_taxonomy                            shopstyle_taxonomy
3       studded apparel       10        10     10     10    0    10    10      10         10       10         0       NaN          NaN                           NaN                          women.womens_clothes
5            cfdaawards       10        10     10     10  390    10    10      10         10       10         0       NaN          NaN  Events - Red Carpet Hashtags                                           NaN
6  billboardmusicawards       10        10    140   1000   30    20    10      10         10       10        10       NaN          NaN  Events - Red Carpet Hashtags                                           NaN
7     wool crepe jacket       10        20     20     20   20    10    10      30         20       10        10       NaN          NaN                           NaN                  women.womens_clothes.jackets
8             foil gown      140        50     10     10   10    10    10      10         10       10        10       NaN          NaN                           NaN  women.womens_clothes.dresses.evening_dresses